body, input {
  color: #333;
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main {
  position: absolute;
  width: 530px;
  left: 0;
  top: 0;
  padding: 60px 60px 40px;
}

.main img {
  padding-bottom: 14px;
}

.main p {
  font-size: 17px;
  line-height: 31px;
  padding: 5px 0;
}

.main .strong {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.main a {
  text-decoration: none;
  background-color: #d1edff;
  padding: 2px 4px;
  color: #333;
  outline: none;
  border-radius: 4px;
}
